name: DongleBuild
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [arm64]
        compiler: [gcc]
    env:
      ARCH: ${{ matrix.arch }}
    steps:
    - uses: actions/checkout@v3
    - uses: jirutka/setup-alpine@v1
    - name: Prepare build environment
      run: ./.ci-prepare-dongle.sh ${{ matrix.compiler }}
      shell: alpine.sh --root {0}
    - name: Build
      run: ./.ci-build.sh
      shell: alpine.sh {0}